In [14]:
import pandas as pd
import psycopg2
from psycopg2 import sql 
!ln -s /var/run/postgresql/.s.PGSQL.5432 /tmp/.s.PGSQL.5432

ln: failed to create symbolic link '/tmp/.s.PGSQL.5432': File exists

In [182]:
#df = pd.read_csv('../Datamyne_Delivery_7_28_2017/Data/meshintel-datamyne_d_b_family_tree.csv')

/home/ram22/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2683: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [19]:
conn = psycopg2.connect(database = "datamyne20170728", user = "ram22")
cur = conn.cursor()

In [21]:
cur.execute("""
select consignee_declared, company_found_in, count(consignee_declared) as count
from billoflading_all
where consignee_declared like '%NESTL%'
group by consignee_declared, company_found_in
order by count;
""")
extract = pd.DataFrame(cur.fetchall())
print(extract.head()); print(extract.tail())
# and company_found_in = 'CONSIGNEE_DECLARED'

                           0                   1  2
0     NESTLE R&D CENTER INC.  CONSIGNEE_DECLARED  1
1           NESTLE USA INC.,    SHIPPER_DECLARED  1
2             NESTLE USA,INC  CONSIGNEE_DECLARED  1
3               NESTLE WATER  CONSIGNEE_DECLARED  1
4  NESTLE USA PREPARED FOODS  CONSIGNEE_DECLARED  1
                                       0                   1     2
128                   NESTLE CANADA INC.    SHIPPER_DECLARED   443
129                      NESTLE USA, INC  CONSIGNEE_DECLARED   704
130  NESTLE WATERS NORTH AMERICA HOLDING    SHIPPER_DECLARED  2101
131          NESTLE WATERS NORTH AMERICA    SHIPPER_DECLARED  4754
132          NESTLE WATERS NORTH AMERICA  CONSIGNEE_DECLARED  8176

In [22]:
file = 'nestle'
extract.to_csv(file+'_consignee.csv', header=False, index=False)

In [18]:
conn.close()

In [9]:
cur.execute("""
select consignee_declared, count(consignee_declared) as count
from relevantbol
group by consignee_declared
order by consignee_declared, count;
""")
extract = pd.DataFrame(cur.fetchall())
print(extract.head()); print(extract.tail())
# and company_found_in = 'CONSIGNEE_DECLARED'

                                     0   1
0  1/LOUIS DREYFUS COMPANY COFFEE MERC   3
1      1.)MITSUBISHI ELECTRIC US, INC.  11
2        1.MITSUBISHI ELECTRIC US,INC.   3
3           1)MITSUBISHI INTERNATIONAL   1
4         1ST MITSUBISHI INTERNATIONAL   2
                             0    1
1174    WWAL-MART STORES, INC.    1
1175   WWAL-MART STORES, INC.,    2
1176   ZEPHYR GREEN COFFEE LLC  308
1177  ZEPHYR GREEN COFFEE LLC,    1
1178  ZEPHYR GREEN COFFEE LLC.    8

In [13]:
extract.to_csv('counts430pm.csv')

In [ ]:
E.I.DUPONT DE NEMOURS AND COMPANY

In [38]:
cur.execute("select column_name from information_schema.columns where table_name='billoflading';")
colnames = list(pd.DataFrame(cur.fetchall())[0])

In [41]:
cur.execute("""
select *
from billoflading
where consignee_declared = 'E.I.DUPONT DE NEMOURS AND COMPANY';
""")
extract = pd.DataFrame(cur.fetchall(), columns=colnames)
print(extract.head()); print(extract.tail())

                    bill_id bill_of_lading_number    company_found_in  \
0   20170510MOLU11044924160       MOLU11044924160  CONSIGNEE_DECLARED
1  20160713HLCUSHA1605KHXY5      HLCUSHA1605KHXY5  CONSIGNEE_DECLARED
2    20160123NYKS5010886160        NYKS5010886160    SHIPPER_DECLARED
3   20170410MOLU11044142242       MOLU11044142242  CONSIGNEE_DECLARED
4    20170211CMDUQDSW009842        CMDUQDSW009842  CONSIGNEE_DECLARED

  vessel_date country_of_origin world_region_by_country_of_origin  \
0  05/10/2017             CHINA                      EASTERN ASIA
1  07/13/2016             CHINA                      EASTERN ASIA
2  01/23/2016       SWITZERLAND                    WESTERN EUROPE
3  04/10/2017             CHINA                      EASTERN ASIA
4  02/11/2017             CHINA                      EASTERN ASIA

                           port_of_departure country_by_port_of_departure  \
0          SHANG HAI,SHANGHAI,CHINA MAINLAND                        CHINA
1          SHANG HAI,SHANGHAI,CHINA MAINLAND                        CHINA
2                     ANTWERP,ANVERS,BELGIUM                      BELGIUM
3          SHANG HAI,SHANGHAI,CHINA MAINLAND                        CHINA
4  TSINGTAO,CHING TAO,QINGDAO,CHINA MAINLAND                        CHINA

  world_region_by_port_of_departure        us_port  \
0                      EASTERN ASIA    SAVANNAH,GA
1                      EASTERN ASIA  CHARLESTON,SC
2                    WESTERN EUROPE     NORFOLK,VA
3                      EASTERN ASIA    SAVANNAH,GA
4                      EASTERN ASIA    SAVANNAH,GA

              ...             vessel_country_name voyage imo_code  \
0             ...                           MALTA   001E  9723241
1             ...                MARSHALL ISLANDS   037E  9424912
2             ...                         LIBERIA   005W  9320685
3             ...                MARSHALL ISLANDS   034E  9424936
4             ...                  UNITED KINGDOM  326VC  9595436

  in_bond_entry_type_name master_house_sa bill_of_lading_master  \
0                                       S
1                                       S
2                                       S
3                                       S
4                                       S

  master_shipper master_consignee_unified master_notify  \
0
1
2
3
4

                  date_change
0  2017-05-12 15:24:50.006142
1  2016-07-27 16:24:24.669-03
2  2016-05-13 10:38:44.597-03
3  2017-04-12 13:01:07.828413
4  2017-03-07 18:04:08.542-02

[5 rows x 65 columns]
                       bill_id bill_of_lading_number    company_found_in  \
1353  20160702HLCUSHA1603ATRT0      HLCUSHA1603ATRT0    SHIPPER_DECLARED
1354  20160614HLCUSHA1511VGHH1      HLCUSHA1511VGHH1    SHIPPER_DECLARED
1355  20160801HLCUTS1160636536      HLCUTS1160636536  CONSIGNEE_DECLARED
1356     20160302MAEU578883067         MAEU578883067    SHIPPER_DECLARED
1357    20160507OOLU4022213450        OOLU4022213450    SHIPPER_DECLARED

     vessel_date country_of_origin world_region_by_country_of_origin  \
1353  07/02/2016             CHINA                      EASTERN ASIA
1354  06/14/2016             CHINA                      EASTERN ASIA
1355  08/01/2016             CHINA                      EASTERN ASIA
1356  03/02/2016             CHINA                      EASTERN ASIA
1357  05/07/2016        LUXEMBOURG                    WESTERN EUROPE

                      port_of_departure country_by_port_of_departure  \
1353  SHANG HAI,SHANGHAI,CHINA MAINLAND                        CHINA
1354  SHANG HAI,SHANGHAI,CHINA MAINLAND                        CHINA
1355            BUSAN,PUSAN,SOUTH KOREA                  SOUTH KOREA
1356  SHANG HAI,SHANGHAI,CHINA MAINLAND                        CHINA
1357             ANTWERP,ANVERS,BELGIUM                      BELGIUM

     world_region_by_port_of_departure        us_port  \
1353                      EASTERN ASIA  CHARLESTON,SC
1354                      EASTERN ASIA  CHARLESTON,SC
1355                      EASTERN ASIA     NORFOLK,VA
1356                      EASTERN ASIA  CHARLESTON,SC
1357                    WESTERN EUROPE    SAVANNAH,GA

                 ...             vessel_country_name voyage imo_code  \
1353             ...                MARSHALL ISLANDS   016E  9301330
1354             ...                           MALTA   034E  9400136
1355             ...                         LIBERIA   001E  9725146
1356             ...                       HONG KONG   603E  9143013
1357             ...                         LIBERIA   006W  9320685

     in_bond_entry_type_name master_house_sa bill_of_lading_master  \
1353                                       S
1354                                       S
1355                                       S
1356                                       S
1357                                       S

     master_shipper master_consignee_unified master_notify  \
1353
1354
1355
1356
1357

                     date_change
1353  2016-07-21 10:17:47.583-03
1354   2016-07-14 11:28:19.36-03
1355  2016-08-17 10:12:40.934-03
1356  2016-05-20 16:12:11.182-03
1357  2016-06-24 10:43:32.593-03

[5 rows x 65 columns]

In [43]:
extract.to_csv('dupontCase.csv', index=False)

In [40]:
colnames

['bill_id',
 'bill_of_lading_number',
 'company_found_in',
 'vessel_date',
 'country_of_origin',
 'world_region_by_country_of_origin',
 'port_of_departure',
 'country_by_port_of_departure',
 'world_region_by_port_of_departure',
 'us_port',
 'us_coast',
 'place_of_receipt',
 'country_by_place_of_receipt',
 'world_region_by_place_of_receipt',
 'foreign_destination',
 'shipper_unified_id',
 'duns_nbr_shipper',
 'shipper_unified',
 'shipper_declared',
 'shipper_declared_address',
 'consignee_unified_id',
 'duns_nbr_consignee',
 'consignee_unified',
 'consignee_declared',
 'consignee_declared_address',
 'consignee_declared_state',
 'consignee_declared_city',
 'consignee_declared_zip_code',
 'notify',
 'final_destination',
 'hs_code',
 'hs_concat',
 'hs_code_description',
 'description',
 'marks',
 'container_number',
 'container_quantity',
 'container_quantity_bill',
 'container_size',
 'bill_cargo_quantity',
 'bill_cargo_quantity_unit',
 'bill_cargo_measure',
 'bill_cargo_measure_unit',
 'calc_weight_kg',
 'calc_weight_mt',
 'calc_value_usd',
 'calc_teus',
 'lcl_fcl',
 'carrier_code',
 'carrier_name',
 'vocc_code',
 'vocc_name',
 'nvocc_code',
 'nvocc_name',
 'vessel',
 'vessel_country_name',
 'voyage',
 'imo_code',
 'in_bond_entry_type_name',
 'master_house_sa',
 'bill_of_lading_master',
 'master_shipper',
 'master_consignee_unified',
 'master_notify',
 'date_change']